.nav__group {
  list-style: none;
  padding: 0;
  margin: 250px 50px 70px;
  display: flex;
  column-gap: 38px;
  row-gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 1130px) {
  .nav__group {
    margin: 100px 50px 70px;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 1130px) {
  .nav__group {
    margin: 70px 25px;
  }
}

@media screen and (max-width: 320px) {
  .nav__group {
    justify-content: space-evenly;
  }
}
